<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" href="/public/css/chat.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>

    <div class="container">
        <div class="msg-header">
            <div class="msg-header-img">
                <img src="" alt="" id="headerimg">
            </div>
            <div class="active">
                <h4 id="headername">{{.UserData.name}}</h4>
                <h6 id="headeremail">{{.UserData.email}}</h6>
            </div>
            <div class="header-icons">
                <!-- 端末に対応するために一時的にコメントアウト -->
                <!-- <i class="fa fa-phone"></i>
                <i class="fa fa-video-camera"></i>
                <a href="/upload"><i class="fa fa-info circle"></i></a> -->

            </div>
        </div>
        <div class="chat-page">
            <div class="msg-inbox">
                <div class="chats">
                    <div class="msg-page" id="msgpage">

                        <!-- ここにメッセージが表示されます -->


                    </div>
                </div>
            </div>

            <div class="msg-bottom">
                <div class="bottom-icons">
                    <!-- <i class="fa fa-plus-circle"></i>
                    <i class="fa fa-camera"></i>
                    <i class="fa fa-microphone"></i>-->
                    <!-- <i class="fa fa-smile-o"></i> -->
                </div>
                <div class="input-group" id="messagebox">
                    <input type="text" class="form-control" placeholder="write message ..." id="messagetext">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-paper-plane" id="sendbutton"></i> <!-- 送信ボタン -->
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/public/js/chat.js"></script>
<script>
    $(function () {

        let socket = null;
        // let msgBox = $("#chatbox textarea");
        // let messages = $("#messages");

        // 本番用
        let messagePage = $("#msgpage");
        let messageBox = $("#messagebox input")


        // 発火イベント
        // $("#chatbox").submit(function () {

        //     // check box value
        //     if (!messageBox.val()) return false;

        //     // check socket connection
        //     if (!socket) {
        //         alert("Error: There is no socket connection.");
        //         return false;
        //     }

        //     // send message
        //     socket.send(JSON.stringify({ "Message": messageBox.val() }));

        //     // box clear
        //     messageBox.val("");
        //     return false;
        // });

        // 送信Iconをclick
        $("#sendbutton").click(function () {
            // check box value
            if (!messageBox.val()) return false;

            // check socket connection
            if (!socket) {
                alert("Error: There is no socket connection.");
                return false;
            }

            // send message
            socket.send(JSON.stringify({ "Message": messageBox.val() }));

            // box clear
            messageBox.val("");

            return false;
        });

        // 入力ボックスでEnter
        $("#messagetext").keypress(function (e) {
            if (e.which == 13) {
                // check box value
                if (!messageBox.val()) return false;

                // check socket connection
                if (!socket) {
                    alert("Error: There is no socket connection.");
                    return false;
                }

                // send message
                socket.send(JSON.stringify({ "Message": messageBox.val() }));

                // box clear
                messageBox.val("");
                return false;
            }
        });

        if (!window["WebSocket"]) {
            alert("Error: Your browser does not support web sockets.")
        } else {
            // socket = new WebSocket("ws://{{.Host}}/room");
            socket = new WebSocket("wss://{{.Host}}/room");

            // 切断イベント
            socket.onclose = function () {
                // alert("Connection has been closed.");
            }

            // メッセージ受信イベント
            socket.onmessage = function (e) {
                // get message 
                let msg = eval("(" + e.data + ")");

                // send account
                let avatarURL = msg.AvatarURL;
                let name = msg.Name;
                let email = msg.Email;

                // my account
                let myName = getHeaderName();
                const when = dateFormat(msg.When);
                let myEmail = getHeaderEmail();

                if (name === myName && email === myEmail) {
                    // 自分側の場合
                    messagePage.append(
                        $("<div class='outgoing-chats'>").append(
                            $("<div class='outgoing-chats-img'>").append(
                                $("<img>").attr("src", avatarURL)
                            ),
                            $("<div class='outgoing-msg'>").append(
                                $("<div class='outgoing-msg-inbox'>").append(
                                    $("<p>").text(msg.Message),
                                    $("<span class='time'>").text(when)
                                )
                            )
                        )
                    );
                } else {
                    // 相手側の場合
                    messagePage.append(
                        $("<div class='received-chats'>").append(
                            $("<div class='received-chats-img'>").append(
                                $("<img>").attr("src", avatarURL)
                            ),
                            $("<div class='received-msg'>").append(
                                $("<div class='received-msg-inbox'>").append(
                                    $("<span class='chat-name'>").text(name),
                                    $("<p>").text(msg.Message),
                                    $("<span class='time'>").text(when),
                                )
                            )
                        )
                    );
                }

                // page scroll
                scrollChatPage();


            }
        }

    });

</script>


</html>