<html>

<head>
    <title>アップロード</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>ユーザー画像のアップロード</h1>
        </div>
        <form action="/uploader" role="form" enctype="multipart/form-data" method="POST">
            <input type="hidden" name="userid" value="{{.UserData.userid}}">
            <div class="form-group">
                <label for="message">ファイルを選択</label>
                <input type="file" name="avatarFile">
            </div>
            <input type="submit" value="アップロード" class="btn">
        </form>
    </div>
</body>

</html>